html, body {
	height: 100%;
}

/* Header start */
.header {
	width: 100%;
	border-bottom: 2px solid lightgrey;
	border-right: 9px solid orange;
	margin: 0;
	padding: 30px 40px;
	font-family: 'Open Sans Semibold';
	font-size: 33px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/* Header end */

/* Content start */
.content {
	overflow: hidden;
	padding: 40px;
	min-height: calc(100% - 246px);
	height: auto;
	max-width: 1085px;
	margin: 0 auto;
}

/* Squares Block start */
.square {
	height: 160px;
	width: 160px;
	float: left;
}
.square-overlay {
	height: 140px;
	width: 140px;
	background-color: lightgrey;
	margin: 10px;
	cursor: pointer;
	-webkit-transition: height 0.5s, width 0.5s, margin 0.5s;
	-moz-transition: height 0.5s, width 0.5s, margin 0.5s;
	-o-transition: height 0.5s, width 0.5s, margin 0.5s;
	transition: height 0.5s, width 0.5s, margin 0.5s;
}
.square-overlay:hover {
	border: 3px solid #00A1FF;
	height: 160px;
	width: 160px;
	margin: 0;
}
.square.active > .square-overlay {
	background-color: #ABAAAA;
}
/* Squares Block end */

/* Info Block start */
.info-block {
	margin-bottom: 20px;
	padding-left: 5px;
	overflow: hidden;
}
.block-title {
	font-family: 'Open Sans Semibold';
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 9px;
}
.date {
	color: #A7A2A2;
	font-size: 14px;
	font-family: 'Open Sans Regular';
	margin-bottom: 15px;
}
.sub-title {
	font-family: 'Open Sans Semibold';
	font-size: 15px;
	margin-bottom: 3px;
}
.square-info {
	font-family: 'Open Sans Regular';
}
/* Info Block end */

/* Content end */

/* Footer start */
.footer {
	padding: 55px;
	overflow: hidden;
	height: 136px;
	max-width: 1060px;
	margin: 0 auto;
}
.nav-arrow {
	font-size: 4em;
	vertical-align: middle;
	cursor: pointer;
}
.nav-arrow.fa-long-arrow-right {
	margin-left: 10px;
}
.nav-arrow.fa-long-arrow-left {
	margin-right: 10px;
}
.nav-arrow-text {
	font-size: 20px;
	color: #5B99CE;
	vertical-align: middle;
	cursor: pointer;
	font-family: 'Open Sans Regular';
}
/* Footer end */

@media (min-width: 1580px) {
	.content, .footer {
		max-width: 1565px;
	}
}

@media (min-width: 1330px) {
	.content, .footer {
		max-width: 1325px;
	}
}

@media (min-width: 845px) and (max-width: 1059px) {
	.content, .footer {
		max-width: 845px;
	}
}

@media (min-width: 768px) and (max-width: 844px) {
	.header {
		margin-bottom: 20px;
	}
	.content {
		max-width: 845px;
		padding: 0;
	}
	.footer {
		padding: 25px;
	}
}

@media (max-width: 767px) {
	.content, .footer {
		max-width: 380px;
		padding: 15px;
	}
	.square:not(.active) + .square.active + .info-block,
	.square.active + .square:not(.active) + .info-block {
		display: block;
	}
	.md-info-block {
		display: none;
	}
	.info-block {
		padding-left: 10px;
	}
	.footer {
		padding: 20px;
		height: 100px;
	}
}

@media (max-width: 379px) {
	.header {
		margin-bottom: 10px;
	}
	.content {
		padding: 0;
	}
}





